.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

@media only screen and (min-width: 768px) {

  #show_daily_tip_outs{
  }
  #create_daily_tip_out{
  }
  nav ul{
    padding:0;
    margin: 0;
  }

  nav li{
    list-style: none;
    display: inline;
  }
  nav a{
    text-decoration: none;
    color:black;
  }
}


@media only screen and (max-width: 768px) {

  #show_daily_tip_outs{
    bottom:0;
    left:0;
    background-color: lightblue;
  }
  #create_daily_tip_out{
    bottom:0;
    right:0;
    background-color: lightgreen;
  }
  nav ul{
    padding:0;
    margin: 0;
  }

  nav li{
    list-style: none;
  }
  nav a{
    text-decoration: none;
    color:black;
    width: 50%;
    position: absolute;
    min-height: 50px;
    height: 10vh;
  }

}
